

<div class="field">
    <h1><%= current_user.name%>のページ</h1>
</div>


 <div>
  フォロー数： <%= current_user.followings.count %>
  フォロワー数：<%= current_user.followers.count %>
</div><br><br>   

<div>
    <%= link_to '編集', edit_user_registration_path %>
</div>

<div class="field">
    <div>
        <p>名前</p>
        <%= current_user.name%>
    </div>
    <div>
        <p>email</p>
        <%= current_user.email%>
    </div>
    <div>
        <p>コメント</p></br>
        <%= current_user.comment%>
    </div>
</div>
<div class="field">
    <%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>
</div>
<% @user.posts.each do |post| %>

<div>
    <p><%= post.body %></p>
    <p><%= post.user_id %></p>
    <p><%= link_to  "編集", edit_post_path(post) %></p>
</div>
<% end %>
