<h1>post-edit</h1>

<%= form_with model: @post, local: true do |f| %>
<%= render 'partial/errors_messages', model: f.object %>

<div class="field">
<%= f.label :body %><br>
<%= f.text_area :body, autofocus: true, :placeholder => "#{@post.body}" %>
</div>

<div class="field">
    <%= f.label :post_image, '画像' %><br /> 
    <%= f.file_field  :post_image %>
<div>

<p><%= f.submit  "更新する"%> 

</p>

<% end %>