<h1>post-edit</h1>

<%= form_with model: @post, local: true do |f| %>
<%= render 'partial/errors_messages', model: f.object %>

<div class="field">
    <%= f.label :body %><br />
    <%= f.text_field :body, autofocus: true, autocomplete: "body" %>
<div>

<div class="field">
    <%= f.label :image, '画像'%><br />
    <%= f.file_field  :image %>
<div>

<p><%= f.submit "作成する" %> 
</p>

<% end %>