<h1>Habits#index</h1>
<%= button_to "Start", new_habit_path(current_user), method: :get %>
<% if @habits.exists? %>
    <% @habits.each do |habit| %>
    <%# <div>
        <p><%#= habit.tag %></p>
    <%# </div> %>
    <%= link_to habit_path(habit) do%>
    <div>
        <p><%= habit.name %></p>
    </div> 
    <div>
    <% if habit.habit_image.present? %>
        <%= image_tag habit.habit_image.url, width: '200' %>
    <% else %>
        <image src="/assets/default.png", width='200'  >
    <% end %>
    </div>
    <% end %>
    <div>
        <%= link_to "編集", edit_habit_path(habit) %>
    </div>
    <div>
        <%= button_to "削除", habit_path(habit),  { method: :delete, data: { turbo_confirm: "本当に削除しますか？"}} %>
    </div>
    <% end %>
<% else %>
    <div>
        <h2>まだ習慣を作成してません</h2>
    </div>
<% end %>