<h1>Habit#show</h1>

<div>
    <div>
        <div class="habit-name-filed">
            <h3><%= @habit.name%></h3>
        </div>
        <div>
        <% if @habit.habit_image.present? %>
            <%= image_tag @habit.habit_image.url, width: '200' %>
        <% else %>
            <%=  image_tag "/assets/default.png", width: '200'  %>
        <% end %>
        </div>
        <div>
            <p>継続中...</p>
            <% if @habit.records.last.present? %>
                <%= @habit.records.last.continuation %> <p>日</p>
            <% else %>
                <p>0 日</p>
            <% end %>
        </div>
        <div>
            <p>次の目標..</p>
        </div>
    </div>
    <div>
        <div>
            <div>
                <h2>カレンダー</h2>
            </div>
            <div>
                <%= month_calendar events: @habit.records do |date, records| %>
                    <%= date.day %>

                    <% records.each do |record| %>
                        <div>
                        <%= record.id %>
                        <%= record.start_time %>
                        </div>
                    <% end %>
                <% end %>
            </div>
        </div>
        
        <div class="button-space">
            <div>
                <div>
                    <h4>達成ボタン</h4>
                </div>
                <div>
                <% if @habit.records.present?%>
                    <%= form_with(model: @record, url: achieve_habit_path(@habit),method: :patch, local: true) do |f| %>
                      <%= f.hidden_field :start_time, value: Date.today%> 
                      <%= f.hidden_field :continuation, value: 1 %>
                      <%= f.submit %>
                    <% end %>
                <% else %>
                    <%= form_with(model: @record, url: habit_records_path(@habit),local: true) do |f| %>
                      <%= f.hidden_field :start_time, value: Date.today%> 
                      <%= f.hidden_field :continuation, value: 1 %>
                      <%= f.submit %>
                    <% end %>
                <% end %>
                </div>
            </div>
            <div>一週間チャレンジ</div>
            <div>アイテム</div>
            <div>
                <%= @habit.item %>
            </div>
        </div>
    </div>
</div>